<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/admin&publicstyle.css">
    <link rel="stylesheet" href="../../Resources/css/cssCategoriasPublic.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Columna para los filtros de productos -->
            <h2>Productos</h2>
            <!-- Barra de búsqueda -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar productos..." id="searchInput">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">
                    <i class="bi bi-search"></i>
                </button>
            </div>

            <h4 id="mainTitle"></h4>
            <!-- Contenedor para mostrar los productos disponibles de la categoría seleccionada -->
            <div class="row" id="productos"></div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/public/categoriasP.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>
</body>

</html>