<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssEmpleado.css">
</head>

<body>

    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>

    <div class="tablaContainer">
        <div class="containerBotones">
            <button class="btnCrud btn btn-primary" type="submit" id="btnAgregarEmpleado">Crear</button>
            <form class="d-flex" role="search" id="cosoBuscar">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            </form>
        </div>

        <br>

        <div class="containerT">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Emily Murillo</td>
                        <td>emilymmurillo@gmail.com</td>
                        <td>
                            <button class="btnCrud btn btn-primary btnEditarEmpleado" type="button">Editar</button>
                            <button class="btnCrud btn btn-danger btnEliminarEmpleado" type="button">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Axel Garcia</td>
                        <td>Administrador</td>
                        <td>
                            <button class="btnCrud btn btn-primary btnEditarEmpleado" type="button">Editar</button>
                            <button class="btnCrud btn btn-danger btnEliminarEmpleado"  type="button">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Daniel Cortez</td>
                        <td>Supervisor</td>
                        <td>
                            <button class="btnCrud btn btn-primary btnEditarEmpleado" type="button">Editar</button>
                            <button class="btnCrud btn btn-danger btnEliminarEmpleado" type="button">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalAgregarEmpleado" class="modal">
        <div class="modal-content">
            <span class="closeAgregarEmpleado">&times;</span>
            <div class="contenidoModalSer">
                <div class="titulo">
                    <h4>Agregar Usuarios</h4>
                </div>

                <div class="camposServicios">
                   
                    <div class="camposAgregarEmpleado">
                        <div class="form-floating mb-2 p-0">
                            <input type="text" class="form-control" id="nombreUsuario" placeholder="..." maxlength="100">
                            <label for="nombreUsuario">Nombre de usuario</label>
                        </div>
                        <div class="form-floating mb-2 p-0">
                            <input type="password" class="form-control" id="contrasena" placeholder="..." maxlength="100">
                            <label for="contrasena">Contraseña</label>
                        </div>
                        <div class="form-floating mb-2 p-0">
                            <input type="text" class="form-control" id="correoElectronico" placeholder="..." maxlength="100">
                            <label for="correoElectronico">Correo Electrónico</label>
                        </div>
                    </div>
                </div>
                <hr class="bottomModalSer">
                <div class="botonesModalSer">
                    <button type="button" class="btn btn-dark" id="cancelarModalButton" onclick="openClose()">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="openNoti()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditarEmpleado" class="modal">
        <div class="modal-content">
            <span class="closeEditarEmpleado">&times;</span>
            <div class="contenidoModalSer">
                <div class="titulo">
                    <h4>Editar Usuarios</h4>
                </div>
                <div class="camposServicios">
                    
                    <div class="camposAgregarEmpleado">
                        <div class="form-floating mb-2 p-0">
                            <input type="text" class="form-control" id="nombreUsuario" placeholder="..." maxlength="100">
                            <label for="nombreUsuario">Nombre de usuario</label>
                        </div>
                        <div class="form-floating mb-2 p-0">
                            <input type="password" class="form-control" id="contrasena" placeholder="..." maxlength="100">
                            <label for="contrasena">Contraseña</label>
                        </div>
                        <div class="form-floating mb-2 p-0">
                            <input type="text" class="form-control" id="correoElectronico" placeholder="..." maxlength="100">
                            <label for="correoElectronico">Correo Electrónico</label>
                        </div>
                    </div>
                </div>
                <hr class="bottomModalSer">
                <div class="botonesModalSer">
                    <button type="button" class="btn btn-dark" id="cancelarModalEditarButton" onclick="openCloseEditar()">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="openNotiEditar()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../controllers/admin/navbar.js"></script>
    <script src="../../controllers/admin/footer.js"></script>
    <script src="../../Controllers/admin/empleadojs.js"></script>
    <script>
        // JavaScript adicional aquí
    </script>
</body>

</html>
