<!DOCTYPE html>
<html>

<head>
   <!-- Título del documento -->
   <title>Graficas</title>
   <!-- Metadatos de la página web -->
   <meta charset="utf-8">
   <meta name="author" content="hanami authors">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
   <!-- Llamada al icono de la página web -->
   <link type="image/png" rel="icon" href="../../Resources/images/HanamiLogo.png">
   <!-- Llamada a las hojas de estilos del framework e iconos -->
   <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
   <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>



<body>

  <header class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
  </header>

  <!--Div de container de contenido-->
  <div class="container-fluid flexi" id="jj2">
    <div class="row flex-column align-items-center">

      <div class="col-lg-10 welcome">
        <h1 class="text-center">Bienvenido a Super Admin</h1>
      </div>

      <!--Grafica 1-->
      <div class="col-lg-10 chart-container">
        <canvas id="chart1" class="chart-canvas"></canvas>
      </div>

      <!--Grafica 2-->
      <div class="col-lg-10 mt-4 chart-container">
        <canvas id="chart2" class="chart-canvas"></canvas>
      </div>

    </div>

    <!--Contendedor de footer para aplicar plantilla-->
    <div id="footer"> </div>
  </div>

  <!--Scripts nesesarios-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../../controllers/admin/navbar.js"></script>
  <script src="../../controllers/admin/footer.js"></script>
  <script src="../../Controllers/admin/graficas.js"></script>
</body>

</html>