<!DOCTYPE html>
<html>

<head>
    <!-- Título del documento -->
    <title>Perfil Admin</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="hanami authors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../Resources/images/HanamiLogo.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/cssPerfilAdmin.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>

    <div class="container-fluid flexi" id="jj">
        <div class="row flex-column align-items-center">
            <div class="col-lg-12 welcome">
                <h1 class="text-center">Perfil</h1>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img src="../../Resources/images/userhanamipro.png" alt="Imagen">
                <h2>Daniel Quintanilla</h2>
            </div>

            <!-- Formulario para guardar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idUsuario" name="idUsuario">
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreUsuario" class="form-label">Nombre</label>
                        <input id="nombreUsuario" type="text" name="nombreUsuario" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="correo" class="form-label">Correo</label>
                        <input id="correoUsuario" type="email" name="correoUsuario" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="clave" class="form-label">Clave</label>
                        <input id="claveUsuario" type="password" name="claveUsuario" class="form-control" required>
                    </div>
                </div>

                <br>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

        </div>

        <br>

        <div id="footer"> </div>
    </div>

</body>

<!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
<!-- Llamada al framework y librería de mensajes -->
<script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
<!-- Llamada al controlador general de la aplicación -->
<script type="text/javascript" src="../../controllers/utils/components.js"></script>
<!-- Llamada al controlador del sitio privado -->
<!--<script type="text/javascript" src="../../controllers/utils/admin.js"></script>-->

<!-- Llamada al controlador de la página web -->
<script src="../../controllers/admin/navbar.js"></script>
<script src="../../controllers/admin/footer.js"></script>
<script type="text/javascript" src="../../Controllers/admin/perfiladmin.js"></script>

</html>