/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

* {
    font-family: "ABeeZee", sans-serif;
    margin: 0;
    padding: 0;
}

.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    background-color: #F0F0F0;
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 200, 221, .8);
    border-radius: 10px;
    border-right: 2px solid #F0F0F0;
}

/* CSS DE PERFIL */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}

#jj {
    margin-top: 20px;
}

#jj1 {
    margin-top: 125pxpx;
}

#jj2 {
    margin-top: 125px;
}


.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 5px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 200px;
    height: auto;
}

.submit-button {
    margin-top: 20px;
}

.container-fluid {
    flex-grow: 2;
}

.image-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
}


.image-container {
    text-align: center;
    color: white;
}

.profile-image {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

.pink-input {
    background-color: rgb(249, 209, 216);
}

.submit-button {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    bottom: 5px;
}

.submit-button:hover {
    background-color: hotpink;
}

.image-container h2 {
    color: black;
}

.image-container img {
    width: 150px; /* Modifica el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción de la imagen */
}