<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanami</title>
    <link rel="icon" type="image/x-icon" href="../../Resources/images/HanamiLogo.ico">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssCarrito.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>

    <div class="container">
        <h1>
            <p><ins>Tu carrito</ins></p>
        </h1>
        <!-- Ejemplo de tres tarjetas de productos en el carrito -->
        <div class="row">
            <!-- Columna de tarjetas de productos -->
            <div class="col-md-8" id="carritoLista">

                <h1>Carrito de compras vacio</h1>

            </div>

            <!-- Columna del resumen de compra -->
            <div class="col-md-4 col-12">
                <div class="card rounded rounded-pink">
                    <div class="card-body">
                        <!-- Total general después del descuento -->
                        <p class="text-end">TOTAL A PAGAR (US$) <b id="pago"></b></p>
                        <hr>
                        <p class="text-end">
                            <button type="button" class="btn btn-primary" onclick="finishOrder()">
                                <i class="bi bi-credit-card-fill"></i> Finalizar pedido
                            </button>

                            <button type="button" class="btn btn-primary" onclick="openFactura()">
                                <i class="bi bi-credit-card-fill"></i> Factura
                            </button>
                        </p>
                        <!-- Párrafo para mostrar un enlace a la página web principal -->
                        <p class="text-end">
                            <a href="index.html" class="btn btn-success">
                                <i class="bi bi-cart-fill"></i> Seguir comprando
                            </a>
                        </p>

                        <p class="text-end">
                            <a onclick="readDetail()" class="btn btn-success">
                                <i class="bi bi-cart-fill"></i> Recargar Carrito
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Componente Modal para mostrar una caja de diálogo -->
            <div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <!-- Contenido del componente Modal -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalTitle">Cambiar cantidad</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Formulario para actualizar cantidad -->
                        <form id="itemForm">
                            <div class="modal-body row">
                                <input type="number" class="d-none" id="idDetalle" name="idDetalle">
                                <div class="col-sm-12">
                                    <label for="cantidadProducto" class="form-label">Cantidad</label>
                                    <input id="cantidadProducto" type="number" name="cantidadProducto" min="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="footer"></div>

    <!-- Scripts de bibliotecas externas -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- jQuery es una biblioteca de JavaScript que simplifica la manipulación del DOM y manejo de eventos -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <!-- Popper.js es una biblioteca utilizada junto con Bootstrap para manejar el posicionamiento de elementos emergentes y desplegables -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap es un marco de trabajo CSS y JavaScript que proporciona componentes predefinidos y estilos para la creación de interfaces de usuario -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap.bundle.min.js incluye Bootstrap y Popper.js -->

    <!-- SweetAlert es una biblioteca para mostrar mensajes y alertas personalizadas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- Chart.js es una biblioteca para la creación de gráficos -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Llamada al controlador general de la aplicación -->
    <!-- Este archivo contiene funciones y lógica general utilizada en toda la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>

    <!-- Scripts específicos de funcionalidades de la aplicación -->
    <!-- Estos archivos contienen la lógica para manejar diferentes aspectos de la aplicación, como el carrito de compras, el pie de página y la barra de navegación pública -->
    <script src="../../Controllers/public/carrito.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>


</body>


</html>