<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/admin&publicstyle.css">
    <link rel="stylesheet" href="../../Resources/css/cssCategoriasPublic.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Columna para los filtros de productos -->
            <div class="col-lg-3" id="filter-column">
                <!-- Aquí se incluirán los filtros -->
                <div class="container-box" id="jj">

                    <h2>Filtros de Productos</h2>

                    <details>
                        <summary>Skincare</summary>
                        <ul>
                            <input type="checkbox" id="skincare2"><label for="skincare2"> &nbsp; Hidratantes</label>
                            <br>
                            <input type="checkbox" id="skincare3"><label for="skincare3"> &nbsp; Mascarillas</label>
                            <br>
                        </ul>
                    </details>


                    <details>
                        <summary>Cuidado Personal</summary>
                        <ul>
                            <input type="checkbox" id="personal-care1"><label for="personal-care1"> &nbsp; Cuidado del
                                Cabello</label> <br>
                            <input type="checkbox" id="personal-care2"><label for="personal-care2"> &nbsp;
                                Loción</label>
                            <br>
                            <input type="checkbox" id="personal-care3"><label for="personal-care3"> &nbsp; Higiene
                                Corporal</label>
                            <br>
                        </ul>
                    </details>

                    <details>
                        <summary>Accesorios de Belleza</summary>
                        <ul>
                            <input type="checkbox" id="beauty-accessories1"><label for="beauty-accessories1"> &nbsp;
                                Cepillos</label> <br>
                            <input type="checkbox" id="beauty-accessories2"><label for="beauty-accessories2"> &nbsp;
                                Peines</label> <br>
                            <input type="checkbox" id="beauty-accessories3"><label for="beauty-accessories3"> &nbsp;
                                Estuches</label> <br>
                        </ul>
                    </details>

                    <details>
                        <summary>Salud y Belleza</summary>
                        <ul>
                            <input type="checkbox" id="health-beauty1"><label for="health-beauty1"> &nbsp;
                                Vitaminas</label> <br>
                            <input type="checkbox" id="health-beauty3"><label for="health-beauty3"> &nbsp; Productos
                                para el Bienestar</label> <br>
                        </ul>
                    </details>

                    <div class="ui-range-label">
                        <h5>Rango:</h5>
                        <div class="ui-range-values">
                            <div class="ui-range-value-min">
                                $<span>1</span>
                                <input type="hidden" name="minprice" id="minprice" value="1">
                            </div>
                            &nbsp;-&nbsp;
                            <div class="ui-range-value-max">
                                $<span id="price-value">50</span>
                                <input type="hidden" name="maxprice" id="maxprice" value="50">
                            </div>
                        </div>
                    </div>
                    <input type="range" id="price-range" min="0" max="100" value="50" step="1">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-dark" id="apply-filters">Aplicar Filtros</button>
                    </div>
                </div>
            </div>

            <!-- Columna para mostrar los productos -->
            <div class="col-lg-9" id="products-column">
                <!-- Aquí se mostrarán los productos -->
                <div class="container product-list">
                    <div class="container-fluid flexi">
                        <div class="row flex-column align-items-center">
                            <div class="col-lg-10 welcome" id="jj">
                                <h1 class="text-center">Categorias</h1>
                            </div>
                        </div>

                        <div class="container product-container">
                            <div class="row" id="product-cards">
                                <!-- Tarjeta de producto 1 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="45">
                                        <img src="../../Resources/images/Escenciaplanta.png" class="card-img-top"
                                            alt="Producto 1">
                                        <div class="card-body">
                                            <h5 class="card-title">Crema de manos hidratante matcha</h5>
                                            <p class="card-text">Descripción de Crema de manos hidratante matcha</p>
                                            <p class="card-text"><strong>Precio: $45</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 2 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="30">
                                        <img src="../../Resources/images/Lociónhidratantedepepino.png"
                                            class="card-img-top" alt="Producto 2">
                                        <div class="card-body">
                                            <h5 class="card-title">Loción hidratante de pepino</h5>
                                            <p class="card-text">Descripción de Loción hidratante de pepino</p>
                                            <p class="card-text"><strong>Precio: $30</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 3 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="55">
                                        <img src="../../Resources/images/cremademanos.png" class="card-img-top"
                                            alt="Producto 3">
                                        <div class="card-body">
                                            <h5 class="card-title">Crema de manos de extracto de uva</h5>
                                            <p class="card-text">Descripción de Crema de manos de extracto de uva</p>
                                            <p class="card-text"><strong>Precio: $55</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 4 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="20">
                                        <img src="../../Resources/images/Cremademanoshidratantematcha.png"
                                            class="card-img-top" alt="Producto 4">
                                        <div class="card-body">
                                            <h5 class="card-title">Esencia de planta té verde</h5>
                                            <p class="card-text">Descripción de Esencia de planta té verde</p>
                                            <p class="card-text"><strong>Precio: $20</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 5 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="70">
                                        <img src="../../Resources/images/Mascarilladeacidohialurónico.png"
                                            class="card-img-top" alt="Producto 5">
                                        <div class="card-body">
                                            <h5 class="card-title">Loción hidratante de pepino</h5>
                                            <p class="card-text">Descripción de Loción de pepino</p>
                                            <p class="card-text"><strong>Precio: $70</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 6 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card" data-price="40">
                                        <img src="../../Resources/images/locionoliva.png" class="card-img-top"
                                            alt="Producto 6">
                                        <div class="card-body">
                                            <h5 class="card-title">Mascarilla de ácido hialurónico</h5>
                                            <p class="card-text">Descripción de Mascarilla de ácido hialurónico</p>
                                            <p class="card-text"><strong>Precio: $40</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center" id="no-results" style="display: none;">
                                    <h3><strong>No se encontraron resultados</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer"></div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/public/categoriasP.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>
</body>

</html>