<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/admin&publicstyle.css">
    <link rel="stylesheet" href="../../Resources/css/cssCategoriasPublic.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Columna para los filtros de productos -->
            <div class="col-lg-3" id="filter-column">
                <!-- Aquí se incluirán los filtros -->
                <div class="container-box" id="jj">

                    <h2>Filtros de Productos</h2>

                    <details>
                        <summary>Skincare</summary>
                        <ul>
                            <input type="checkbox" id="skincare1"><label for="skincare1"> &nbsp; Limpieza Facial</label>
                            <br>
                            <input type="checkbox" id="skincare2"><label for="skincare2"> &nbsp; Hidratantes</label>
                            <br>
                            <input type="checkbox" id="skincare3"><label for="skincare3"> &nbsp; Mascarillas</label>
                            <br>
                        </ul>
                    </details>


                    <details>
                        <summary>Cuidado Personal</summary>
                        <ul>
                            <input type="checkbox" id="personal-care1"><label for="personal-care1"> &nbsp; Cuidado del
                                Cabello</label> <br>
                            <input type="checkbox" id="personal-care2"><label for="personal-care2"> &nbsp; Cuidado
                                Bucal</label> <br>
                            <input type="checkbox" id="personal-care3"><label for="personal-care3"> &nbsp; Higiene
                                Corporal</label> <br>
                        </ul>
                    </details>

                    <details>
                        <summary>Accesorios de Belleza</summary>
                        <ul>
                            <input type="checkbox" id="beauty-accessories1"><label for="beauty-accessories1"> &nbsp;
                                Cepillos y Peines</label> <br>
                            <input type="checkbox" id="beauty-accessories2"><label for="beauty-accessories2"> &nbsp;
                                Esponjas y Aplicadores</label> <br>
                            <input type="checkbox" id="beauty-accessories3"><label for="beauty-accessories3"> &nbsp;
                                Estuches y Organizadores</label> <br>
                        </ul>
                    </details>

                    <details>
                        <summary>Salud y Belleza</summary>
                        <ul>
                            <input type="checkbox" id="health-beauty1"><label for="health-beauty1"> &nbsp; Vitaminas y
                                Suplementos</label> <br>
                            <input type="checkbox" id="health-beauty2"><label for="health-beauty2"> &nbsp; Equipos de
                                Ejercicio</label> <br>
                            <input type="checkbox" id="health-beauty3"><label for="health-beauty3"> &nbsp; Productos
                                para el Bienestar</label> <br>
                        </ul>
                    </details>

                    <div class="ui-range-label">
                        <h5>Rango:</h5>
                        <div class="ui-range-values">
                            <div class="ui-range-value-min">
                                $<span>1</span>
                                <input type="hidden" name="minprice" id="minprice" value="1">
                            </div>
                            &nbsp;-&nbsp;
                            <div class="ui-range-value-max">
                                $<span id="price-value">50</span>
                                <input type="hidden" name="maxprice" id="maxprice" value="50">
                            </div>
                        </div>
                    </div>
                    <input type="range" id="price-range" min="0" max="100" value="50" step="1">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-dark">Aplicar Filtros</button>
                    </div>
                </div>
            </div>

            <!-- Columna para mostrar los productos -->
            <div class="col-lg-9" id="products-column">
                <!-- Aquí se mostrarán los productos -->
                <div class="container product-list">
                    <div class="container-fluid flexi">
                        <div class="row flex-column align-items-center">
                            <div class="col-lg-10 welcome" id="jj">
                                <h1 class="text-center">Categorias</h1>
                            </div>
                        </div>

                        <div class="container product-container">
                            <div class="row">
                                <!-- Tarjeta de producto 1 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/Escenciaplanta.png" class="card-img-top"
                                            alt="Producto 1">
                                        <div class="card-body">
                                            <h5 class="card-title">Crema de manos hidratante matcha</h5>
                                            <p class="card-text">Descripción de Crema de manos hidratante matcha</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 2 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/Lociónhidratantedepepino.png"
                                            class="card-img-top" alt="Producto 2">
                                        <div class="card-body">
                                            <h5 class="card-title">Loción hidratante de pepino</h5>
                                            <p class="card-text">Descripción de Loción hidratante de pepino</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 3 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/cremademanos.png" class="card-img-top"
                                            alt="Producto 3">
                                        <div class="card-body">
                                            <h5 class="card-title">Crema de manos</h5>
                                            <p class="card-text">Descripción de Crema de manos</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 4 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/Cremademanoshidratantematcha.png"
                                            class="card-img-top" alt="Producto 4">
                                        <div class="card-body">
                                            <h5 class="card-title">Esencia de planta té verde</h5>
                                            <p class="card-text">Descripción de Esencia de planta té verde</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 5 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/Mascarilladeacidohialurónico.png"
                                            class="card-img-top" alt="Producto 5">
                                        <div class="card-body">
                                            <h5 class="card-title">Loción hidratante de pepino</h5>
                                            <p class="card-text">Descripción de Loción de pepino</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta de producto 6 -->
                                <div class="col-lg-4 mb-4">
                                    <div class="card">
                                        <img src="../../Resources/images/locionoliva.png" class="card-img-top"
                                            alt="Producto 6">
                                        <div class="card-body">
                                            <h5 class="card-title">Mascarilla de ácido hialurónico</h5>
                                            <p class="card-text">Descripción de Mascarilla de ácido hialurónico</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/public/categoriasP.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>
</body>

</html>