<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssHistorialDeCompra.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>

    <div class="container">

        <br>

        <h2>Historial de compra</h2>
        <hr>
        <br>

        <div class="row" id="cardRow">
            <!-- Primera Card -->
            <div class="col-md-4">
                <div class="card">
                    <img src="../../Resources/images/allclean.png" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">?</h5>
                        <hr>
                        <p class="card-text">Precio unitario: ?</p>
                        <p class="card-text">Cantidad: ?</p>
                        <p class="card-text">Fecha de compra: ?</p>
                        <button type="button" onclick="openUpdate()" class="btn btn-primary add-review-btn">Agregar
                            reseña</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Componente Modal para mostrar una caja de diálogo -->
    <div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Contenido del componente Modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle">Agregar comentario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para actualizar cantidad -->
                <form id="itemForm">
                    <div class="modal-body row">
                        <input type="number" class="d-none" id="idDetalle" name="idDetalle">
                        <div class="col-sm-12">
                            <label for="comentarioProducto" class="form-label">Comentario</label>
                            <input id="comentarioProducto" type="text" name="comentarioProducto" class="form-control"
                                required>
                        </div>

                        <div class="col-sm-12 pt-4">
                            <label for="puntuacionProducto" class="form-label">Puntuacion</label>
                            <input id="puntuacionProducto" type="number" name="puntuacionProducto" min="1"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/public/HistorialDeCompra.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>

</body>

</html>