<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanami</title>
    <link rel="icon" type="image/x-icon" href="../../Resources/images/HanamiLogo.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssInicioPublic.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>
    <div class="container-fluid">
        <div class="row" id="fondoInicio">
            <div class="col-md-12">
                <div class="cuadrorosado d-flex flex-column align-items-start text-center text-md-start">
                    <div class="d-md-flex align-items-center">
                        <div class="container">
                            <div>
                                <br>
                                <p class="m-0 mb-md-2 fs-6 fw-bold font-italic">ENCUENTRA<br>SKINCARE QUE TE<br>HAGAN
                                    SENTIR LIBRE</p>
                                <p>Explore nuestra diversa gama de productos meticulosamente elaboradas, nuestra
                                    innovación moderna de la cosmética coreana, diseñado para nutrir, hidratar y
                                    revitalizar la piel.</p>
                                <button type="button" class="btn btn-dark rounded-pill">Comprar ahora</button>
                                <p>200+<br>Marcas internacionales</p>
                                <p>2,000+<br>alta calidad de productos</p>
                                <p>30,000+<br>Clientes felices</p>
                            </div>
                        </div>
                        <div class="col-md-6 d-none d-md-block">
                            <!-- d-none oculta la columna en dispositivos pequeños y d-md-block la muestra en dispositivos medianos y superiores -->
                            <div class="container">
                                <img src="../../Resources/images/ImagenBannerPagInicio.png"
                                    class="rounded me-0 img-fluid" alt="..." width=" 600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container-fluid">
        <div class="cuadronegro container-fluid d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h1 class="text-center mt-4">Nuevos Productos</h1>
    <div class="container-fluid">
        <div class="d-flex justify-content-around flex-wrap" id="productosContainer">
            <div class="card ">
                <img src="../../Resources/images/larocheposay.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Descripción del producto 1.</p>
                </div>
            </div>
            <div class="card ">
                <img src="../../Resources/images/larocheposay.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Descripción del producto 2.</p>
                </div>
            </div>
            <div class="card ">
                <img src="../../Resources/images/larocheposay.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <p class="card-text">Descripción del producto 3.</p>
                </div>
            </div>
        </div>
        <center><button type="button" class="btn btn-light mt-3">ver mas</button></center>
    </div>

    <hr>
    <h1 class="text-center mt-4">Los productos más vendidos</h1>
    <div class="container-fluid">
        <div class="d-flex justify-content-around flex-wrap" id="vendidosContainer">
            <div class="card">
                <img src="../../Resources/images/allclean.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Descripción del producto 1.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../Resources/images/allclean.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Descripción del producto 2.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../Resources/images/allclean.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <p class="card-text">Descripción del producto 3.</p>
                </div>
            </div>
        </div>
        <center><button type="button" class="btn btn-light mt-3">ver mas</button></center>
    </div>
    <hr>
    <div class="container mt-4">
        <div class="d-flex flex-wrap">
            <div class="card mb-3 me-3">
                <div class="valoracion-container text-center">
                    <p class="m-0">Valoración 1: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="m-0">Descripción de la valoración 1.</p>
                </div>
            </div>
            <div class="card mb-3 me-3">
                <div class="valoracion-container text-center">
                    <p class="m-0">Valoración 2: &#9733;&#9733;&#9733;&#9734;&#9734;</p>
                    <p class="m-0">Descripción de la valoración 2.</p>
                </div>
            </div>
            <div class="card mb-3 me-3">
                <div class="valoracion-container text-center">
                    <p class="m-0">Valoración 3: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <p class="m-0">Descripción de la valoración 3.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="valoracion-container text-center">
                    <p class="m-0">Valoración 4: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="m-0">Descripción de la valoración 4.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>
    <script src="../../Controllers/public/DetalleProducto.js"></script>
</body>

</html>