<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanami</title>
    <link rel="icon" type="image/x-icon" href="../../Resources/images/HanamiLogo.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssInicioPublic.css">
</head>

<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>
    <div class="container-fluid">
        <div class="row" id="fondoInicio">
            <div class="col-md-12">
                <div class="cuadrorosado d-flex flex-column align-items-start text-center text-md-start">
                    <div class="d-md-flex align-items-center">
                        <div class="container">
                            <div>
                                <br>
                                <p class="m-0 mb-md-2 fs-6 fw-bold font-italic">ENCUENTRA<br>SKINCARE QUE TE<br>HAGAN
                                    SENTIR LIBRE</p>
                                <p>Explore nuestra diversa gama de productos meticulosamente elaboradas, nuestra
                                    innovación moderna de la cosmética coreana, diseñado para nutrir, hidratar y
                                    revitalizar la piel.</p>
                                <button type="button" class="btn btn-dark rounded-pill">Comprar ahora</button>
                                <p>200+<br>Marcas internacionales</p>
                                <p>2,000+<br>alta calidad de productos</p>
                                <p>30,000+<br>Clientes felices</p>
                            </div>
                        </div>
                        <div class="col-md-6 d-none d-md-block">
                            <!-- d-none oculta la columna en dispositivos pequeños y d-md-block la muestra en dispositivos medianos y superiores -->
                            <div class="container">
                                <img src="../../Resources/images/ImagenBannerPagInicio.png"
                                    class="rounded me-0 img-fluid" alt="..." width=" 600">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container-fluid">
        <div class="cuadronegro container-fluid d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
                <div class="col-md-2 col-6 mb-3 d-md-block d-none"> <!-- Oculta en dispositivos pequeños -->
                    <div class="img-container">
                        <img src="../../Resources/images/lancome.png" class="img-fluid rounded" alt="..." width="145">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h1 class="text-center mt-4">Nuevos Productos</h1>

    <h4 id="mainTitle"></h4>
    <!-- Contenedor para mostrar los productos disponibles de la categoría seleccionada -->
    <div class="row" id="productos"></div>

    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/public/inicio.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>

</body>

</html>