<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre Nosotros</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/cssSobreNosotros.css">
</head>

<body>

    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar"></nav>
    </header>


    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Sobre Nosotros</h1>
                <hr>
                <h3>Misión</h3>
                <p>Nuestra misión es proporcionar productos de cuidado de la piel de alta calidad que promuevan la salud
                    y la belleza natural. Nos esforzamos por ofrecer soluciones innovadoras que satisfagan las
                    necesidades individuales de nuestros clientes, mientras mantenemos un compromiso con la
                    sostenibilidad y el bienestar del planeta.</p>
                <h3>Visión</h3>
                <p>Nuestra visión es convertirnos en líderes reconocidos en la industria del cuidado de la piel,
                    conocidos por nuestra integridad, calidad y pasión por el bienestar de nuestros clientes. Aspiramos
                    a inspirar confianza y autoestima en las personas de todo el mundo, promoviendo una relación
                    armoniosa entre la humanidad y la naturaleza.</p>
                <h3>Productos de Skincare</h3>
                <p>Los productos de skincare son esenciales para mantener la salud y la apariencia de la piel. Nuestra
                    línea de productos está diseñada con ingredientes naturales y científicamente probados para ofrecer
                    beneficios específicos para cada tipo de piel.</p>
                <h4>¿Por qué son necesarios?</h4>
                <ul>
                    <li>Ayudan a limpiar la piel, eliminando impurezas y residuos de maquillaje que obstruyen los poros.
                    </li>
                    <li>Hidratan la piel, manteniéndola suave, flexible y con un aspecto radiante.</li>
                    <li>Ayudan a prevenir y reducir los signos de envejecimiento, como arrugas y líneas finas.</li>
                    <li>Proporcionan protección contra los daños causados por los rayos UV y otros factores ambientales.
                    </li>
                    <li>Promueven la regeneración celular, ayudando a mantener la piel joven y saludable.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer"></div>

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <!-- Llamada al controlador general de la aplicación -->
  <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script src="../../Controllers/admin/footer.js"></script>
    <script src="../../Controllers/public/navbarP.js"></script>
    <script src="../../Controllers/public/DetalleProducto.js"></script>
</body>

</html>